* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
:root {
  --text-color: #363535;
  --title-color: #080808;
  --body-color: #eceff3;
  --base-color: #8cc8f3;
  --base-color-second: #1477be;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 700 1.875rem "Poppins", sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 5rem 0;
}

#header {
  border-bottom: 1px solid #ddd8d8;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font: 700 1.31rem "Poppins", sans-serif;
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}
main {
  margin-top: 4.5rem;
}
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: #1477be;
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}
#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
#home .text h1 {
  margin-bottom: 1rem;
}
#home .text p {
  margin-bottom: 2rem;
}
.btn {
  background-color: var(--base-color-second);
  color: #ffffff;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.35rem;
  font: 500 1rem "DM Sans", sans-serif;
  transition: background 0.3s;
}
.btn:hover {
  background-color: #2487ce;
}
.divider-1 {
  height: 3px;
  background: linear-gradient(270deg, #1477be, rgba(35, 223, 252, 0.34) 100%);
}
